<!DOCTYPE html>
<html>
<head>
    <title>Laptop Device Specifications</title>
</head>
<body>

    <h1>Laptop Device Specifications</h1>

    <h2>Student Details</h2>
    <p><b>Name:</b> ESAIYA </p>
    <p><b>Register Number:</b>26014140</p>

    <h2>Device Specifications</h2>

<p>
        <h4>Processor:</h4> Intel Core 5 210H
        <h4>RAM:</h4> 16 GB
        <h4>Storage:</h4> 512 GB SSD
        <h4>Graphics Card:</h4> NVIDIA GeForce GTX 1650
        <h4>Operating System:</h4> Windows 11 and ubuntu 22.04 LTS
    </p>

</body>
</html>